.thumbnail .caption {
    position: relative;
    width: 100%;
    padding: 20px;
}

.thumbnail__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 200px;
    padding: 45px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.thumbnail__overlay--favourited {
    position: absolute;
    text-align: right;
    width: 100%;
    height: 200px;
    padding-right: 20px;
    padding-top: 125px;
}

.thumbnail__overlay:hover{
    opacity: 1;
}

.thumbnail__overlay h1 {
    font-weight: 500;
    font-size: 5em; 
    pointer-events: none;
}

svg {
    pointer-events: none;
}

path {
    pointer-events: none;
}

